<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longtech.camera">

    <application
        android:name=".runalone.application.CameraApplication"
        android:allowBackup="true"
        android:label="1111"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:replace="android:label">

        <activity android:name=".runalone.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>